*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    padding: 10px 0 0 10px;
  }

  
 input{
  width: 40%;
  font-size: 18px;
  margin: 5px;
 }

 .material-symbols-outlined{
  vertical-align: -3px;
  margin-right: 3px;
 }