.button{
  width: 30%;
  height: 50px;
  margin-top: 10px;
}

/* 
index
 */
 .index_button{
  width: 20%;
  height: 50px;
  margin: 0 20px 0 20px;
 } 

 @media screen and (max-width:700px){
  .index_button{
    width: 40%;
    margin:10px 5%;
   }
 }

 .index_footer{
  text-align: center;
 }

 /* 
 pipeData
  */
.pipeData_table{
  border: solid 1px black;
}

.pipeData_table th{
  border: solid 1px black;
  font-size: 90%;
  text-align: center;
}

.pipeData_table td{
  border: solid 1px black;
  font-size: 80%;
  text-align: right;
}

.pipeData_table td::after{
  content: '　';
}

.index_span{
  color: rgb(215, 67, 225);
  text-shadow: black 3px 3px 3px;
}

/* 
calculation
 */

 .calc_div input{
  font-size: 18px;
 }

 .calc_div input {
  margin-left: 15px;
 }